{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="jumbotron-img jumbotron jumbotron-fluid">

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
<div class="container ">
        <h1 class="display-3">Register</h1>
        </div>
    </div>
<div class="row" text-center>
				<div class="col-md-12 text-center">
					<div class="form-group text-center">
                    
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        </div>
        
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
       
        
        
        {{ form_row(registrationForm.agreeTerms) }}
        
        
        

        <button class="btn btn-lg btn-primary" type="submit">
        Register
    </button>
    
    {{ form_end(registrationForm) }}
    </div>
    </div>
        </div>
    
{% endblock %}
